@charset "utf-8";

*{margin: 0; padding: 0; box-sizing: border-box;}
body {line-height: 180%;}
h1,h2 {font-family: "Black And White Picture",sans-serif;}
a {text-decoration: none; color: black;}

img {display: block; width: 100%;}

header {background: orange; text-align: center; padding: 30pt;}

#layout {margin: auto; width: 1000px; }

nav {display: flex; padding: 20px 0;}
nav a {
  flex: 1; 
  font-size: 2rem; 
  padding: 5pt;
  text-align: center;
  font-weight: 600;
}
nav a:hover , nav a.act {color: white; text-shadow: 0 0 10px black;}
nav a:nth-child(1):hover, nav a:nth-child(1).act {background: pink ;}
nav a:nth-child(2):hover, nav a:nth-child(2).act {background: dodgerblue;}
nav a:nth-child(3):hover, nav a:nth-child(3).act {background: lightsalmon;}
nav a:nth-child(4):hover, nav a:nth-child(4).act {background: snow;}

h2 {font-size: 1.8rem; padding: 10px; padding-left: 0;}

main {padding-top: 10px;}
main img {border-radius: 20px; margin-top: 10px;}

